#maindiv >div{

    padding: 10px;
    margin: 6px;
}

#maindiv{
    display: grid;
    grid-template-areas:'one two three'  
                        'four five six';
    padding: 10px;
    
}

.one{
    grid-area: one;
}
.two{
    grid-area: two;
    
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
}
.five{
    grid-area: five;
}
.six{
    grid-area: six;
}

#header{
background-color: yellow;
height: 100px;
top: 0;
padding-top: 5px;
}

#footer{
    background-color: yellow;
    height: 100px;
    bottom: 0;
    padding-top: 5px;
}
